{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row frontpage-hero">
  <div class="col-sm-4 pendulum-col">
    <div class="pendulum-bg">
    </div>

    <div class="pendulum">
      <div class="pendulum_box">
        <div class="ball female">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 489.13">
            <circle cx="149.5" cy="150" r="150"/>
            <rect x="127.11" y="292.39" width="44.79" height="196.74"/>
            <rect x="127.11" y="292.39" width="44.79" height="196.74" transform="translate(540.26 241.26) rotate(90)"/>
          </svg>
        </div>
        <div class="ball middle"></div>
        <div class="ball middle"></div>
        <div class="ball middle"></div>
        <div class="ball male">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <circle cx="150" cy="250" r="150"/>
            <polygon points="288.54 0 288.54 38.63 333.84 38.63 200 172.06 227.41 199.37 361.24 65.95 361.24 112.04 400 112.04 400 0 288.54 0"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8
    hero-text title-col">
    {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    {{ $st.Content }}
    <div class="col">
      <div class="col" style="min-width:100px;">
        <img style="width:450px; height:100px; text-align:center;" src="/media/img/CorriellLogo.png"/> 
      </div> 
    </br>
    <div class="row">
      <div class="col" style="min-width:100px;">
        <img style="height: 80px; min-width:100px; padding-right:5px" src="/media/img/OSSD.logo.png"/>
      </div>
      <div class="col" style="min-width:100px;">
        <img style="height: 80px; min-width:100px; padding-right:5px" src="/media/img/ACS.png"/>
      </div>
      <div class="col" style="min-width:100px;">
        <img style="height: 80px; min-width:100px; padding-right:5px" src="/media/img/GSALogo_sm@800x800.jpg"/>
      </div>  

  </div>
</div>
