body{
  background-color: #eff0f1;
}

.pendulum{
  position:absolute;
  width: 250px;
  height: 200px;
  background-color: black;
  top:50%;
  left:  50%;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid white;
  transform: translate(-50%, -50%);
}

.pendulum_box{
  display: flex;
  padding: 120px 0 0 25px;
  position: absolute;
  flex: 1;
}


.ball{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  transform-origin: 50% -300%;

}
  .ball::before{
    content: '';
    width: 3px;
    height: 122px;
    background-color: white;
    left: 18px;
    top: -122px;
    position: absolute;
  }

.ball.female{
    width: 40px;
    height:40px;
    animation: firstball calc(1s * 0.75) alternate ease-in infinite,
               firstcolor calc(4s * 0.75) normal linear infinite;
  }
.ball.middle{
  animation: middlecolor calc(4s * 0.75) normal linear infinite;
}

.ball.male{
  width: 53.33px;
  height: 39px;
  margin-top:-13.5px;
  animation: lastball calc(1s * 0.75) alternate ease-out infinite,
             lastcolor calc(4s * 0.75) normal linear infinite;
}
.ball.male::before{
  content: '';
  width: 3px;
  height: 129px;
  background-color: white;
  left: 18px;
  top: -115px;
  position: absolute;
}

@keyframes firstball{
  0%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

@keyframes firstcolor{
  0%    {fill: #d13b40;}
  12.5% {fill: #34558b;}
  37.49%{fill: #34558b;}
  37.5% {fill: #ffaf12;}
  50%   {fill: #4F847D;}
  87.49%{fill: #4F847D;}
  87.50%{fill: #d13b40;}
  99.99%{fill: #d13b40;}

}

@keyframes middlecolor{
  0%    {background-color: #d13b40;}
  12.49%{background-color: #d13b40;}
  12.5% {background-color: #34558b;}
  37.49%{background-color: #34558b;}
  37.5% {background-color: #ffaf12;}
  62.49%{background-color: #ffaf12;}
  62.50%{background-color: #4F847D;}
  87.49%{background-color: #4F847D;}
  87.50%{background-color: #d13b40;}
  99.99%{background-color: #d13b40;}
}

@keyframes lastcolor{
  0%    {fill: #d13b40;}
  12.49%{fill: #d13b40;}
  12.5% {fill: #34558b;}
  25%   {fill: #ffaf12;}
  62.49%{fill: #ffaf12;}
  62.50%{fill: #4F847D;}
  75%   {fill: #d13b40;}
  99.99%{fill: #d13b40;}
}

@keyframes lastball{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-35deg);
  }
}
