.frontpage-banner {
  margin: auto;
  width: 800px;
}

.avatar-circle {
  border-radius: 10%;
}


.hero-text{
  padding-top: 90px;
  padding-left: 80px;
}

.hero-text h1{
  font-size: 3rem;
}

.hero-title{
  font-size: 4rem;
}
.frontpage-hero{
  height:400px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .frontpage-hero{
    height:400px;
  }

  .title-col{
    order: -1;
    height:100px;
    }

  .pendulum-col{
    margin-bottom: 100px;
  }

  .hero-text{
    padding-top: 0px;
    padding-left: 110px;
    margin-top:10px;
  }

  .hero-text h1{
    font-size: 2.8rem;
  }
  .hero-text p{
    font-size: 1.25rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-text{
    padding-top: 70px;
    padding-left: 110px;
  }

  .hero-text h1{
    font-size: 2.8rem;
  }
  .hero-text p{
    font-size: 1.25rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-text{
    padding-top: 90px;
    padding-left: 80px;
  }

  .hero-text h1{
    font-size: 3rem;
  }
  .hero-text p{
    font-size: 1.25rem;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-text h1{
    font-size: 3rem;
  }


}


.research-icon-right{
  margin: 2rem 0 1rem 3rem;

}

.research-icon-left{
  margin: 2rem 2rem 1rem 0
}

.pendulum-bg{
  position:absolute;
  width: 255px;
  height: 225px;
  background-color: rgba(0,0,0, 0.4);
  top:40%;
  left:  51%;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid white;
  transform: translate(-50%, -50%);

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.pendulum{
  position:absolute;
  width: 250px;
  height: 210px;
  background-color: rgba(0,0,0, 0.4);
  top:40%;
  left:  50%;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid white;
  transform: translate(-50%, -50%);
}

.pendulum_box{
  display: flex;
  padding: 120px 0 0 25px;
  position: absolute;
  flex: 1;
}


.ball{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  transform-origin: 50% -300%;

}
  .ball::before{
    content: '';
    width: 3px;
    height: 122px;
    background-color: white;
    left: 18px;
    top: -122px;
    position: absolute;
  }

.ball.female{
    width: 40px;
    height:40px;
    animation: firstball calc(1s * 0.75) alternate ease-in infinite,
               firstcolor calc(4s * 0.75) normal linear infinite;
  }
.ball.middle{
  animation: middlecolor calc(4s * 0.75) normal linear infinite;
}

.ball.male{
  width: 53.33px;
  height: 39px;
  margin-top:-13.5px;
  animation: lastball calc(1s * 0.75) alternate ease-out infinite,
             lastcolor calc(4s * 0.75) normal linear infinite;
}
.ball.male::before{
  content: '';
  width: 3px;
  height: 129px;
  background-color: white;
  left: 18px;
  top: -115px;
  position: absolute;
}

@keyframes firstball{
  0%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

@keyframes firstcolor{
  0%    {fill: #d13b40;}
  12.5% {fill: #6c90cc;}
  37.49%{fill: #6c90cc;}
  37.5% {fill: #ffaf12;}
  50%   {fill: #72b0a8;}
  87.49%{fill: #72b0a8;}
  87.50%{fill: #d13b40;}
  99.99%{fill: #d13b40;}

}

@keyframes middlecolor{
  0%    {background-color: #d13b40;}
  12.49%{background-color: #d13b40;}
  12.5% {background-color: #6c90cc;}
  37.49%{background-color: #6c90cc;}
  37.5% {background-color: #ffaf12;}
  62.49%{background-color: #ffaf12;}
  62.50%{background-color: #72b0a8;}
  87.49%{background-color: #72b0a8;}
  87.50%{background-color: #d13b40;}
  99.99%{background-color: #d13b40;}
}

@keyframes lastcolor{
  0%    {fill: #d13b40;}
  12.49%{fill: #d13b40;}
  12.5% {fill: #6c90cc;}
  25%   {fill: #ffaf12;}
  62.49%{fill: #ffaf12;}
  62.50%{fill: #72b0a8;}
  75%   {fill: #d13b40;}
  99.99%{fill: #d13b40;}
}

@keyframes lastball{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-35deg);
  }
}
